* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}


.logo {
  background-image: url("img/placeholder.png");
  background-size: cover;
  height: 100px;
  width: 100px;
}

header {
  align-items: center;
  justify-content: space-between;
  .header-title {
    justify-content: center;
    align-items: center;
  }
}

nav {
  ul {
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      background-color: red;
      border-radius: 20px;
      padding: 0.5em 1em;
      margin: 1em;
      display: flex
    }
  }
}

main {
  width: 33vw;
  min-width: 300px;
  z-index: 1;
}

.bg-image {
  height: 80vh;
  width: 66vw;
  background-color: pink;
  position: fixed;
  top: 0;
  z-index: 0;
}