* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

@font-face {
  font-family: 'Arthemis';
  src: url("font/Arthemis-PKY27.ttf")
}
.font-a {
  font-family: 'Arthemis', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex {
  display: flex;
}


.logo {
  background-image: url("img/placeholder.png");
  background-size: cover;
  height: 100px;
  width: 100px;
}

header {
  align-items: center;
  justify-content: space-between;
  .header-title {
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 4rem;  
    }
  }
}

nav {
  ul {
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      background-color: red;
      border-radius: 20px;
      padding: 0.5em 1em;
      margin: 1em;
      display: flex
    }
  }
}

main {
  width: 25vw;
  min-width: 300px;
  z-index: 1;
  position: relative;
  margin-top: 4em;
  margin-left: 6em;
  text-align: center;
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

.bg-image {
  height: 80vh;
  width: 75vw;
  background-image: url(img/background.png);
  background-size: cover;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
}